@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    background-image: linear-gradient(to bottom left, #f09410, #bc430d);
    min-height: 100vh;
    background-repeat: no-repeat;
    overflow: scrollp;
}

.navbar {
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #242322;
}

.navbar ul {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 30px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: 500;color: white;

}

.image-logo {
    margin-top: 5px;
    margin-left: 20px;
    height: 60px;
}

.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0px 30px 0 30px;
    align-items: center;

}

.box-progres {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}

.box-progres p {
    font-size: larger;
    font-weight: 600;
}

.progres1 {
    color: #f79321;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 0px 0px 20px;
}

.produk-container {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
}

.box-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-box {
    width: 100%;
}

.box-input label {
    font-weight: 600;
}

.order-button {
    background-color: rgb(163, 255, 135);
    border: none;
    color: black;
    padding: 15px 32px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
}

.order-button:hover {
    background-color: #242322;
    color: #f09410;
}

.infor-header {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    margin: 10px 0 0px 0;
}

.sub-info {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .navbar {
        align-items: center;
    }
    .image-logo {
        height: 40px;
    }
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 200px;
    }
    .header {
        gap: 20px;
        height: 60px;
        max-width: auto;
        p {
            font-size: small;
        }
    }

    .form-header {
        font-size: 12px;
        font-weight: 300;
    }
    
    .produk-container {
        padding-left: 20px;
    }

    .image-box img {
        width: 500px;
    }

    .order-button {
        padding: 10px 10px 10px 10px;
        height: 40px;
        width: 70px;
        font-size: small;
        
    }    
}


@media (max-width: 500px) {
    .navbar {
        align-items: center;
    }
    .navbar ul li {
        visibility: hidden;
    }
    .image-logo {
        height: 40px;
    }
    .form {
        display: flex;
        align-items: center;
        margin-top: 50px;
        width: 200px;
    }
    .header {
        gap: 20px;
        height: 60px;
        width: 200px;
        p {
            font-size: small;
        }
    }
    .produk-container {
        padding-left: 20px;
    }

    .image-box img {
        width: 200px;
    }

    .order-button {
        padding: 10px 10px 10px 10px;
        height: 40px;
        width: 70px;
        font-size: small;
        
    }
}



