@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom left, #f09410, #bc430d);
}

.navbar {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: #242322;
}

.nav-logo {
    margin-left: 30px;
}

.nav-logo img{
    height: 100%;
    width: auto;
    display: block;
    object-fit: contain;
}

.navbar ul {
    display: flex;
    align-items: center;
    translate: 320%;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a{
    color: #f79321;
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 200px 500px 190px 10px;
}

.container-text {
    width: 500px;
    color: #ffffff;
}


.order-button {
    display: flex;
    margin-top: 20px;
    background-color: #f79321;
    height: 40px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: .5s;
    a {
        transition: .5s;
    }
}

.order-button:hover {
    background-color: #242322;
    a {
        color: #f79321;
    }
}

.produk {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: white;
}

.footer {
    position: relative;
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
}

.foot-logo {
    display: flex;
}

.foot-logo img{
    height: 50px;
}

.footer ul li {
    list-style: none;
}

.footer a {
    color: #242322;
}

