@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    background-image: linear-gradient(to bottom left, #f09410, #bc430d);
    min-height: max-content;
}

.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: #242322;
    justify-content: space-between;
}

.nav-logo {
    margin-left: 30px;
}

.nav-logo img{
    height: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a{
    color: #f79321;
}

.menu-button {
    display: none;
}


.container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding-right: 100px;
}

.container-text {
    width: 500px;
    color: #ffffff;
}


.order-button {
    display: flex;
    margin-top: 20px;
    background-color: #f79321;
    height: 40px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: .5s;
    a {
        transition: .5s;
    }
}

.order-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    background-image: conic-gradient(from var(--angle), transparent, #f79321);
    translate: -195% 129%;
    width: 155px;
    height: 45px;
    z-index: -1;
    animation: 3s spin linear infinite;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.order-button:hover {
    background-color: #242322;
    a {
        color: #f79321;
    }
}

.produk {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-top: 90px;
    padding-bottom: 70px;
    background-color: white;
}

.footer {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 20px;
    justify-content: space-between;
    background-color: #f79321;
}

.foot-logo {
    display: flex;
    translate: 20px;
}

.foot-logo img{
    height: 50px;
}

.footer ul {
    padding-right: 30px;
}

.footer ul li {
    list-style: none;
}


.footer a {
    color: #242322;
}

@media (max-width: 800px) {
    .container {
        padding: 0;
        min-height: 70vh;
        translate: -25% 0%;
    }
    .container-text {
        width: 300px;
    }
    .order-button::before {
        translate: -99% 260%;
    }

    .produk {
        padding: 10px; 
    }
    .produk img {
        width: 400px;
    }

    .footer {
        justify-content: flex-start;
    }

    .foot-logo img{
        height: 40px;
    }

    .footer ul {
        font-size: small;
        margin-left: 100px;
    }

    .sidebar{
        width: 100%;
    }

    .menu-button {
        display: flex;
        align-items: center;
    }
    .hide-nav {
        display: none;
    }

    

}

.sidebar {
    position: fixed;
    display: none;
    flex-direction: column;
    z-index: 999;
    height: 100%;
    width: 40%;
    background-color: #aef354;
    right: 0;
    animation: sidebar-animation .2s ease-in-out;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.137);;
}

@keyframes sidebar-animation {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.sidebar li {
    list-style: none;
    margin: 20px 20px;
    width: max-content;
    transition: .5s;
}

.sidebar li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 15pt;
    color: #e1ffc6;
}

.sidebar li:hover {
    background-color: #e1ffc6;
    border-radius: 20%;
    a {
        color: #aef354;
    }
}

@media (max-width: 500px) {
    .navbar {
        max-width: 100%;
        overflow: hidden;
    }
    .container {
        padding: 0;
        min-height: 70vh;
        translate: -25% 0%;
    }
    .container-text {
        width: 250px;
    }
    .order-button::before {
        translate: -83% 340%;
    }

    .produk {
        padding: 10px; 
    }

    .image-box {
        width: 350px;
        translate: -40px;
    }

    .produk img {
        width: 290px;
    }

    .footer {
        width: 100%;
        justify-content: flex-start;
    }

    .foot-logo img{
        height: 40px;
    }

    .footer ul {
        font-size: small;
        margin-left: 100px;
    }
    .sidebar{
        width: 100%;
    }
}

